/* Global styles */
html, * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.8rem/1.56 sans-serif;
  color: #360066;
  margin: 0;
  padding: 0 3.2rem 2.4rem;
  background: #f5f5f5;
}


/* Form styles */
textarea {
  display: block;
  border-radius: 0.4rem;
}

textarea,
form select {
  background: #fff;
  border: 1px solid #520099;
}

form select, 
form button {
  display: inline-block;
  margin: 2rem 1rem 0 0;
  height: 2rem;
}

#formAddButton {
  width: 7rem;
  background-color: #8902FF;
  color: #fff;
  border-radius: 0.4rem;
  border: 0;
  transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
}

#formAddButton:hover {
  cursor: pointer;
  background-color: #e600e6;
}


/* Note Styles */
#notes {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.note {
  width: 24rem;
  height: 20rem;
  font-size: 1.4rem;
  background: #fff;
  border-radius: 0.4rem;
  padding: 1.2rem 1.6rem;
  margin: 2.4rem 2.4rem 0 0;
  box-shadow: 0 0.9rem 1.2rem rgba(0,0,0, 0.1);
  position: relative;
}

.note-text {
  height: 100%;
  overflow-y: auto;
}

.note::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.8rem;
  border-radius: 0 0 0.4rem 0.4rem;
}

.note.red::after {
  background-color: lightcoral;
}

.note.blue::after {
  background-color: lightskyblue;
}
.note.green::after {
  background-color: lightgreen;
}
.note.yellow::after {
  background-color: gold;
}

.note span {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0.2rem;
  right: 0.2rem;
  border-radius: 0.4rem;
  color: #999;
  text-align: center;
}

.note span:hover {
  color: #333;
  background: #f5f5f5;
  cursor: pointer;
}
